/* basic.css */

html, body{
  width:100%; height:auto;
  font-family: 'AppleSDGothicNeoR00';
  font-size:16px;
  color:#333;
  overflow-x: hidden;
}

#wrap {
  width:100%; height:auto;
  min-width:320px;
}


