/* laptop.css */

#wrap {
  width:100%; height:auto; min-height:800px;
  padding-bottom:100px;
  background-color:#9873ff;
}

section {
  width:100%; height:auto;
}

h2 {
  width:100%; height:auto;
  padding-top:70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 55px; font-weight: 600;
  color:#fff;
  text-align: center;
}

.profile_part {
  width:820px; height:auto;
  margin:auto; margin-top:110px;
}

.picture {
  float:left;
  width:190px; height:190px;
  border-radius:190px;
  background-color:#e9e6ff;
}

.personal_info {
  float:left;
  width: 530px; height:auto;
  margin-left: 100px; 
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}

.name {
  width:auto; height:auto;
  margin-top:14px;
  font-weight:600; font-size: 36px;
}

/* .name_kor {
  float:left;
  width:auto; height:auto;
  margin-top:14px;
  font-weight:500; font-size:26px;
} */

.birth, .email {
  width:auto; height:auto;
  margin-top: 40px;
  font-size: 22px;
}
.email { margin-top:30px;}


/* skill -------------------------------- */
.skill {
  width:820px; height:auto;
  margin:auto; margin-top:110px;
}

.skill_title {
  width:auto; height:auto;
  font-family: 'Montserrat', sans-serif;
  font-size:32px; font-weight: 600;
  color:#fff;
}

.skill_category {
  width:100%; height:64px;
  margin:auto; margin-top:50px;
}

.skill_category li {
  float:left;
  width:410px; height:100%;
  background-color:#e9e6ff;
}

.skill_category li button {
  width:100%; height:100%;
  font-family: 'Montserrat', sans-serif;
  font-size:22px; 
  line-height: 64px;
  color:#773df6;
}

.skill_category li.act {
  border-bottom:5px solid #773df6;
  box-sizing: border-box;
  font-weight: 600;
}

.skill_category li button:focus {
  outline:0;
}

.skill_category li button:hover {
  background-color:#773df6;
  color:#fff;
  transition:all 200ms ease;
}

.skill_part {
  width:100%; height:650px;
  padding-top:70px; box-sizing: border-box;
  background-color:#e9e6ff;
  overflow: hidden;
}

.skill_part .con {
  width:100%; height:100%;
}

.skill_part dl {
  float:left;
  width:350px; height:auto;
  margin-bottom: 80px; margin-left:40px;
}

.skill_part dl:nth-of-type(2n) {
  margin-left: 70px;
}

.skill_part .design { display:none; }

.skill_part dt {
  width:auto; height:auto;
  margin-bottom:20px;
  font-family: 'Montserrat', sans-serif;
  font-size:20px; font-weight: 500;
}

.skill_part .content {
  width:auto; height:auto;
  margin-bottom:24px;
  font-size: 18px;
}

.skill_part .bar {
  display:flex;
  justify-content: space-between;
  width:306px; height:20px;
}

.skill_part .bar div {
  width:20px; height:20px;
  background-color:#fff;
  border: 1px solid #773df6;
  box-sizing: border-box;
}

.skill_part .bar p {
  width:auto; height:auto;
  margin-left:6px;
  font-size: 19px;
}

.html div:nth-child(1),.html div:nth-child(2),.html div:nth-child(3),
.html div:nth-child(4),.html div:nth-child(5),.html div:nth-child(6),
.html div:nth-child(7),.html div:nth-child(8),
.css div:nth-child(1),.css div:nth-child(2),.css div:nth-child(3),
.css div:nth-child(4),.css div:nth-child(5),.css div:nth-child(6),
.css div:nth-child(7),.css div:nth-child(8),
.js div:nth-child(1),.js div:nth-child(2),.js div:nth-child(3),
.js div:nth-child(4),.js div:nth-child(5),
.git div:nth-child(1),.git div:nth-child(2),.git div:nth-child(3),
.git div:nth-child(4),.git div:nth-child(5),.git div:nth-child(6),
.git div:nth-child(7),
.md div:nth-child(1),.md div:nth-child(2),.md div:nth-child(3),
.md div:nth-child(4),.md div:nth-child(5),.md div:nth-child(6),
.md div:nth-child(7){
  background-color:#773df6;
}

.ps div:nth-child(1),.ps div:nth-child(2),.ps div:nth-child(3),
.ps div:nth-child(4),.ps div:nth-child(5),.ps div:nth-child(6),
.ps div:nth-child(7),.ps div:nth-child(8),.ps div:nth-child(9),
.ill div:nth-child(1),.ill div:nth-child(2),.ill div:nth-child(3),
.ill div:nth-child(4),.ill div:nth-child(5),.ill div:nth-child(6),
.ill div:nth-child(7),.ill div:nth-child(8),.ill div:nth-child(9),
.indesign div:nth-child(1),.indesign div:nth-child(2),.indesign div:nth-child(3),
.indesign div:nth-child(4),.indesign div:nth-child(5),.indesign div:nth-child(6),
.indesign div:nth-child(7),
.figma div:nth-child(1),.figma div:nth-child(2),.figma div:nth-child(3),
.figma div:nth-child(4),.figma div:nth-child(5),.figma div:nth-child(6),
.figma div:nth-child(7),
.xd div:nth-child(1),.xd div:nth-child(2),.xd div:nth-child(3),
.xd div:nth-child(4),.xd div:nth-child(5),.xd div:nth-child(6){
  background-color:#773df6;
}